* {
    box-sizing: border-box;
}
nav {background-color: #e8f7fc;
    color: #000000;}
nav a:hover {background-color: #c4e2ff;padding: 7px;}
nav {padding: 10px;
    margin-bottom: 30px; display:flex;justify-content:center;}
h1, h2, h3 {color: gainsboro;display:flex; justify-content: center; color: white;}
h1 {font-size: 15pt;}
body {font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(8, 12, 24);color: gainsboro;}
.images {display:flex;justify-content:space-around;margin: 5px;}
img {max-width: 300px;margin: 15px;}
@media only screen and (max-width:600px){
        nav a {max-width: 100%;display: block;padding: 10px;}
        span {display: none;}
        .images {max-width: 100%;}}
#skip {position: absolute; 
            left: -999px;
            background-color: rgb(143, 192, 143);}
    
#skip:focus {left:10px;}
#hamicon {
    height: 50px;
    width: 50px;
    display: none;}
@media only screen and (max-width:600px) {
    #hamicon {display: block;justify-content:center;}
    #navlinks a {display: block;}
    #navlinks {display: none;}}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content:center;}
html, body, div, img {
        padding: 0;
        border: 0;
        font-size: 100%; }