nav {background-color:rgb(0, 42, 70) ;
    color: gainsboro;
    }
h1 {color: gainsboro;display:flex; justify-content: center; color: white;}
hr {stroke-width:10px}
nav a:after {color: gainsboro;}
.header {color: gainsboro;}
.footer {display:flex; justify-content: center;}
nav a:hover {background-color: rgb(182, 182, 182);padding: 10px;margin-bottom: 30px;}
nav {padding: 30px;
    margin-bottom: 30px;}
body {background-color: rgb(0, 42, 70);color: gainsboro;}
.images {display:flex;justify-content:space-evenly;}
img {
    float:inline-start;
    width:  300px;
    height: 300px;
    object-fit: cover;
    max-width: 100%;}
body {font-family: Verdana, Geneva, Tahoma, sans-serif}
nav a, nav span{display: flex; float: right;justify-content:space-around}
@media only screen and (max-width:600px){
        .header a {max-width: 100%;display: block;float: left;padding: 10px;justify-content:space-around}
        .nav {display: none;}}
        
        
