nav {background-color:rgb(12, 12, 65) ;
    color: gainsboro;
    }
.header {color: gainsboro;}
.footer {display:flex; justify-content: center;}
nav a:hover {background-color: rgb(182, 182, 182);padding: 10px;margin-bottom: 30px;}
nav {padding: 30px;
    margin-bottom: 30px;}
body {background-color: rgb(86, 86, 126);color: gainsboro;}
h2 {display:flex; justify-content: center; color: white;}
.images {display:flex;justify-content:space-evenly;}
img {
    float:inline-start;
    width:  300px;
    height: 300px;
    object-fit: cover;
    max-width: 100%;}
body {font-family: Verdana, Geneva, Tahoma, sans-serif}
nav a, nav span{display: flex; float: right;justify-content:space-around}
@media only screen and (max-width:600px){
        .header a {max-width: 100%;display: block;float: left;padding: 10px;justify-content:space-around}}
        .nav {display: none;}
        
